<app-header></app-header>

<div class="container-fliud" >
    <h2>Employees</h2><br>
    <button type="button" class="btn btn-primary" (click)="newEmploye()">Add Employe</button><br>
    <table class="table table-striped table-sm">
        <thead>
          <tr class="table-dark">
            <th scope="col">ID</th>
            <th scope="col">Year</th>
            <th scope="col">Month</th>
            <th scope="col">Office</th>
            <th scope="col">EE Code</th>
            <th scope="col">EE Name</th>
            <th scope="col">EE Surname</th>
            <th scope="col">Division</th>
            <th scope="col">Position</th>
            <th scope="col">Grade</th>
            <th scope="col">Begin Date</th>
            <th scope="col">Birth day</th>
            <th scope="col">DNI</th>
            <th scope="col">Base Salary</th>
            <th scope="col">PB</th>
            <th scope="col">CB</th>
            <th scope="col">COMM</th>
            <th scope="col">Contrib</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employe of listemployees" (click)="editEmploye(employe.id)">
            <th scope="row">{{ employe.id }}</th>
            <td>{{ employe.year }}</td>
            <td>{{ employe.month }}</td>
            <td>{{ employe.office }}</td>
            <td>{{ employe.employeeCode }}</td>
            <td>{{ employe.employeeName }}</td>
            <td>{{ employe.employeeSurname }}</td>
            <td>{{ employe.division }}</td>
            <td>{{ employe.position }}</td>
            <td>{{ employe.grade }}</td>
            <td>{{ employe.beginDate }}</td>
            <td>{{ employe.birthday }}</td>
            <td>{{ employe.identificationNumber }}</td>
            <td>{{ employe.baseSalary }}</td>
            <td>{{ employe.productionBonus }}</td>
            <td>{{ employe.compensationBonus }}</td>
            <td>{{ employe.commission }}</td>
            <td>{{ employe.contributions }}</td>           
          </tr>
        </tbody>
    </table>
</div>
<script>
 $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'colvis'
        ]
    } );
} );
</script>
<app-footer></app-footer>